<div class="field">
  <%= label_tag "#{form_element_prefix}[name]", 'Name:' %><br />
  <%= text_field_tag "#{form_element_prefix}[name]", test_model.name %>
</div>

<div class="field">
  <%= label_tag "#{form_element_prefix}[description]", 'Description:' %><br />
  <%= text_field_tag "#{form_element_prefix}[description]", test_model.description %>
</div>

<div class="field">
  <%= label_tag "#{form_element_prefix}[weight]", 'Weight:' %><br />
  <%= text_field_tag "#{form_element_prefix}[weight]", test_model.weight %>
</div>

<div class="field">
  <%= label_tag "#{form_element_prefix}[selectable_one]", 'Selectable One:' %><br />
  <%= select_tag "#{form_element_prefix}[selectable_one]", options_for_select([["One", 1], ["Two", 2], ["Three", 3]], test_model.selectable_one), { :include_blank => true } %>
</div>

<div class="field">
  <%= label_tag "#{form_element_prefix}[selectable_two]", 'Selectable Two:' %><br />
  <%= check_box_tag "#{form_element_prefix}[selectable_two]", test_model.selectable_two %>
</div>

<% if include_submit %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>