<h1>Listing test_models</h1>


<%= form_tag(test_models_path, :id => 'test_models') do %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <% @test_models.each do |test_model| %>
  <tr>
    <td><%= check_box_tag 'test_model_id', test_model.id %></td>
    <td><%= test_model.name %></td>
    <td><%= test_model.description %></td>
    <td><%= test_model.weight %></td>
    <td><%= link_to 'Show', test_model %></td>
    <td><%= link_to 'Edit', edit_test_model_path(test_model) %></td>
    <td><%= link_to 'Destroy', test_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
    <% end %>
    
    
</table>
  <% end %>
  
  <button type="button" id="submit-button">Edit Multiple</button>
<br />
<div class="elements">

</div>

<%= link_to 'New Test model', new_test_model_path %>

<script type="text/javascript">
  $(function() {
    var forms = $('#test_models').dynamicForm({
      success: function(data) {
        $(data).pagedDialog({ pageSelector: 'div.edit.form' });
      },
      error: function(data) {
        alert('Error.');
      },
      autoWireSubmit: false,
      responseType: 'html'
    });
    
    var f = forms[0];
    
    $('#submit-button').click(function() {
      f.submit('<%= edit_test_models_path %>');
    });
  });
</script>